<div class="container">

  <h1 class="title">Produtos</h1>

  <div class="lista" *ngFor="let produto of produtos">
    <div class="columns is-vcentered">
      <div class="column">
        <p>{{ produto.nome }}</p>
      </div>
      <div class="column has-text-right">
        <b>R{{ produto.preco | currency }}</b>
      </div>
      <div class="column has-text-centered">
        <button class="button is-danger"
          (click)="decrementar(produto)">-</button>
        <span class="is-size-4 mx-3">{{ produto.quantidade }}</span>
        <button class="button is-success"
          (click)="incrementar(produto)">+</button>
      </div>
      <div class="column has-text-right">
        <p>Total: R$ {{ calcularTotal(produto) }}</p>
      </div>
    </div>
  </div>

  <div class="fixed-grid has-2-cols" style="margin-top: 2%;">
    <div class="grid">
      <div class="cell"><button (click)="zerarQuantidades()"
          class="button is-danger is-outlined">Zerar Quantidades</button></div>
      <div class="cell has-text-right"><h2 class="title">Valor Total: {{ calcularValorTotal()
          | currency }}</h2></div>
    </div>
  </div>

</div>
